@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Gothic A1', sans-serif;
    /* font-size: 1rem; */
    /* color: rgba(0, 0, 0, 0.65); */
    /* font-weight: 300; */
    
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    margin: 0px;
    padding: 0px;

    --success-lighter: #d3e5ff;
    --success-light: #3291ff;
    --success: #0070f3;
    --success-dark: #0761d1;
    --error-lighter: #f7d4d6;
    --error-light: #ff1a1a;
    --error: #e00;
    --error-dark: #c50000;
    --warning-lighter: #ffefcf;
    --warning-light: #f7b955;
    --warning: #f5a623;
    --warning-dark: #ab570a;
    --violet-lighter: #e3d7fc;
    --violet-light: #8a63d2;
    --violet: #7928ca;
    --violet-dark: #4c2889;
    --cyan-lighter: #aaffec;
    --cyan-light: #79ffe1;
    --cyan: #50e3c2;
    --cyan-dark: #29bc9b;
    --highlight-purple: #f81ce5;
    --highlight-magenta: #eb367f;
    --highlight-pink: #ff0080;
    --foreground: #000;
    --background: #fff;
    --selection: var(--cyan-light);
    --mono-1: #fafafa;
    --mono-2: #eaeaea;
    --mono-3: #999;
    --mono-4: #888;
    --mono-5: #666;
    --mono-6: #444;
    --mono-7: #333;
    --mono-8: #111;
    --link-color: var(--success);
    --marketing-gray: #fafbfc;
    --code: var(--highlight-purple);
    --secondary-lighter: var(--mono-2);
    --secondary-light: var(--mono-3);
    --secondary: var(--mono-5);
    --secondary-dark: var(--mono-7);
    --dropdown-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.02);
    --dropdown-triangle-stroke: #fff;
    --scroller-start: #fff;
    --scroller-end: hsla(0,0%,100%,0);
    --shadow-smallest: 0px 4px 8px rgba(0,0,0,0.12);
    --shadow-small: 0 5px 10px rgba(0,0,0,0.12);
    --shadow-medium: 0 8px 30px rgba(0,0,0,0.12);
    --shadow-large: 0 30px 60px rgba(0,0,0,0.12);
    --shadow-hover: 0 30px 60px rgba(0,0,0,0.12);
    --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,0.12);
    --portal-opacity: 0.25;
}